*{
    margin: 0px;
    padding: 0px;
}

.screen{
    height: 100vh;
    display: flex;
    color: black;
  }

.info{
    width: 25%;
    background-color: #2E4158;
}
  
.paineis{
    width: 50%;
    background-color: white;
    padding: 25px 40px;
    overflow: auto;
}

.name {
    font-size: 20px;
    font-weight: bold;
    margin-top: 250px;
    text-align: center;
    color: white;
}

.email {
    font-size: 14px;
    margin-top: 10px;
    text-align: center;
    color: grey;
}

.icone_back{
    margin: 20px;
}

.bloco{
    border: 1px #2E4158 solid;
    padding: 10px;
    height: 200px;
    border-radius: 10px;

}

.bloco_title{
    color: #2E4158;
    margin-bottom: 10px;
}