// Links, buttons, and more within the dropdown menu
.dropdown-item {
  font-weight: 300;
  position: relative;
  padding: 10px 20px;
  border-bottom: 1px solid $dropdown-border-color;

  &:last-child {
    border-bottom: 0;
  }
  i {
    color: $dropdown-border-color;
  }
}

// Dropdown section headers
.dropdown-header {
  font-weight: 300;
  padding: 8px 20px;
  background: $dropdown-divider-bg;
  border-bottom: 1px solid $dropdown-border-color;

  .btn {
    margin-top: -7px;
    color: $dropdown-header-color;

    &:hover {
      color: $body-color;
    }

    &.pull-right {
      margin-right: -20px;
    }
  }
}

.dropdown-menu-lg {
  width: 230px;
}
.app-header {
  .navbar-nav {
    .dropdown-menu {
      position: absolute;
      z-index: $zindex-sticky;
    }
    // Menu positioning
    //
    // Add extra class to `.dropdown-menu` to flip the alignment of the dropdown
    // menu with the parent.
    .dropdown-menu-right {
      right: 0;
      left: auto; // Reset the default from `.dropdown-menu`
    }

    .dropdown-menu-left {
      right: auto;
      left: 0;
    }
  }
}
